/*.page-header {
	color: #ffffff;
	background-color: #4aaaa5;
}*/

/*Portfolio Image Descriptions*/
.desc {
	width: 50%;
	position: absolute;
	bottom: 20px;
	left: 15px;
	text-align: center;
	background-color: #4aaaa5;
	width: 300px;
	padding-top: 10px;
	padding-bottom: 10px;
	color: white;
}

.gallery_product {
	margin-top: 20px;
}


footer {
	position: fixed;
	bottom: 0;
	width: 100%;
	padding: 30px;
	font-size: 10px;
	text-align: center;
	color: #ffffff;
	background-color: #666666;
	border-top-style: solid;
	border-top-width: 10px;
	border-color: #4aaaa5;
}